@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
/* 
=============== 
Variables
=============== */

:root {
  /* primary */
  --Cyan: hsl(179, 62%, 43%);
  --Light_Cyan: hsl(179, 62%, 55%);
  --Bright_Yellow: hsl(71, 73%, 54%);
  /* Neutral */
  --Light_Gray: hsl(204, 43%, 93%);
  --Grayish_Blue: hsl(218, 22%, 67%);
  
  /* Typography */

  /* Body Copy */
  
  --Font_size: 16px;
  
  /* Font */
  
  --Family: "Karla"; /*(https://fonts.google.com/specimen/Karla);*/
  /* - Weights: 400, 700; */
}

* {
    margin: 0;
    padding: 0;
  }
  
body{
    font-family: var(--Family);
    font-weight: 400;
    font-size: var(--Font_size);
    width: 100vw;
    height: 100vh; 
    background:var(--Light_Gray);
}

main {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.grid{
    width: 50vw;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
        "join join"
        "monthly why";
}

/* BOX*/
.box{
    color:#fff;
}

.box1{
    grid-area: join;
    background: #fff;
    padding: 30px;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 10px 10px 0 0;
}

.box2{
    grid-area: monthly;
    background: var(--Cyan);
    padding: 40px;
    border-bottom-left-radius: 10px;

}

.box3{
    grid-area: why;
    background: var(--Light_Cyan);
    padding: 40px;
    border-bottom-right-radius: 10px;
}

/* Text */

.title{
    font-size: 2em;
    color: var(--Cyan);
    margin-bottom: 25px;
}

.box1 h3{
    color: var(--Bright_Yellow);
    margin-bottom: 10px;
}

.box1 p{
     color: lightgray;
     font-weight:bold;
}

.box2 h3 , .box3 h3{
    margin-bottom: 15px;
    font-weight: bold;
}

.box2 .precio{
    display:flex;
    align-items: center;
    font-size: 2.5rem;
}

.box2 .paragraph{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 15px;
}

.offer{
    text-align-last: justify;
    font-size: 1rem;
}

.box2 .boton{
    border-radius: 5px;
    background: var(--Bright_Yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    margin-top: 25px;

}
.box2 .boton a{
     color: #fff;
    text-decoration: none;
    font-weight: bolder;
 }

 .box3 li{
    list-style: none; 
    padding-bottom: 4px;
 }

 @media screen and (max-width:480px){
    
    main {
        height: 1000px;
    }
     
    .grid{
        grid-template-columns: 1fr;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
            "join"
            "monthly"
            "why";
    }

    .box1, .box2, .box3{
        width: 50vw;
        padding: 30px;
    }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }